/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --card-text-wght: 410;
    --card-title-wght: 715;
    --page-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px), repeating-linear-gradient(180deg,
      #d3d3d3 0 2px, transparent 2px 4px), linear-gradient(180deg, #e7e7e7 0, #e7e7e7 0.01%, #1a1a1a 100%);
    --block-width: clamp(23.438rem, 3.125rem + 65vi, 43.75rem);
    --contour-color: #000;
    --animation-fill-color: rgb(255 0 0);
}
